.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.cart-container h2{
    text-align: center;
}
button { 
    background: #28a745; 
    color: white; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    border-radius: 4px; }
button:hover { background: #218838; 
}

.cart-item img {
    height: 100px;
    object-fit: contain;
}
.cart-total{
    text-align: center;
}
.cart-total h3{
    font-size: xx-large;
}